colorama==0.4.4
prompt-toolkit==1.0.14
pydub==0.23.1 # Do NOT update pydub beyond 0.23.1, >0.24.0 contains
              # very distorted sound!
Pygments==2.15.0
PyInquirer==1.0.3
pypresence==4.2.1
readchar==3.0.5
regex==2022.1.18
rethinkdb==2.4.8
simpleaudio==1.0.4 # Requires Visual Studio on Windows TODO: fix
six==1.16.0
wcwidth==0.2.5
readline==6.2.4; sys_platform == "linux" and sys_platform == "darwin"
