colorama==0.4.3
prompt-toolkit==1.0.14
PyInquirer==1.0.3
readchar==2.0.1
simpleaudio==1.0.4
pydub==0.23.1
pypresence==4.0.0
rethinkdb==2.4.7
readline==6.2.4; sys_platform == "linux" and sys_platform == "darwin"
