[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=DungeonCli
Type=Application
Comment=A terminal-based dungeon crawler game
Categories=Game;
Icon=~/.dungeoncli/dungeoncli.png
Exec=~/.dungeoncli/start_game.sh
